

<div id="title" style="visibility: hidden">
  <div>
    <span id="logo1">event</span><span id="logo2">ington</span>
  </div>
  <div id="tag-line">where + when = what</div>
</div>


<div class="search" />

  <div id="where"/>
    <button onclick="eventington.geoservice.getLocationFromBrowser(
        function(data) {
          console.log('onError');
          eventington.ui.showError(data);
        },
        function(data) {
          console.log('onSuccess');
          $('#locationTextbox').val(data.name);         
        }
      );">Determine my location</button>    
    <input type="textbox" id="locationTextbox" title="Where" />
  </div>


  <div id="when" />
    <input type="textbox" id="dateTextbox" title="When" />
    <button>Today</button><button>Tomorrow</button>    
  </div>

  <div id="search" />
    <script>
      var eventSearch = function() {
        var startDate = $('#dateTextbox').val();
		
		var location = eventington.model.createLocation();
		location.lat = "51";
		location.lng = "0.5";
		location.name = $("#locationTextbox").val();
		
        eventington.searchservice.searchEvents(eventington.ui.showError, eventington.ui.showEvents, startDate);
      };
    </script>

    <button id="doSearch" onclick="eventSearch();">Search</button>
  </div>
  <div id="add-event"><a href="#" onclick="$('#add-event-form').slideDown();">Add your event</a></div>

</div>


<div id="add-event-form">
	<label for="addEvent">What</label><input id="addEvent" type="text" /><br />
	<label for="addlocation">Where</label><input id="addLocation" type="text" /><br />
	<label for="addDate">When</label><input type="text" name="addDate" id="addDate" /><br />
	<input type="button" value="Add" onclick="saveEvent($('#addLocation').val(), $('#addEvent').val(), $('#addDate').val());"/>
</div>


<div class="results">
  <div id="map_canvas"></div>
  <div id="results_list" ></div>
</div>





<!-- include the locateMe div to use browser geolocation -->
<!--<div id="locateMe" />-->
