<%= flash %>
<br />

<form method="POST" action="/location">
<table>
      <tr><td>Lat:</td><td><input type="text" name="lat"></td></tr>
      <tr><td>Lng:</td><td><input type="text" name="lng"></td></tr>
      <tr><td>Name:</td><td><input type="text" name="name"></td></tr>
      <tr><td></td><td><input type="submit" name="submit" value="Submit"></td></tr>
</table>

</form>


<br />
Or geocode lookup:
Location: <input id="location" type="text" /><br/>
Event: <input id="event" type="text" /><br />
<input type="button" value="Add" onclick="doGeocode($('#location').val(), $('#event').val());"/>