<h2>Login Page</h2>


<form action='/login' method="POST">
<input type='text'  name="everyauth.password.loginFormFieldName" value="email" />
<input type='password' name="everyauth.password.passwordFormFieldName" value="password" />
<input type="submit" value="Submit" />
</form>